<head>
    <meta charset='utf-8'>
    <title>I Can Click A Rainbow</title>
    </head>
    <body>
    <button id='button'>click me</button>
    <script src='main.js'></script>
    </body>
    </html>
             